body{
    background-image: url('/assets/images/texture-wall-floor-stone-8892.png');
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: 'Muli', sans-serif;
        

}
/* Navbar */
.navName{
    font-size: 3em;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    padding: .5rem 5rem;
}
/* Sceen size nav ----------------------- */
@media only screen and (max-width: 400px) {
    .navbar {
        padding: .5rem .9rem;
    }
  }

/* First page custom styles */
.title{
    font-size: 2em;
    border-bottom: 1px solid lightslategray;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.imageMe{
    width: 20%;
    margin: 0 15px 5px 0;
}
.midsec{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #ffffff;
    padding: 20px 15px;
}
/* Screen Size ----------------- */
@media only screen and (max-width: 470px) {
    .contentAboutMe{
       text-align: center;
    }
    .imageMe{
        width: 180px;
        margin: 15px auto;
    }

  }
/* End screen size ------------- */






/* Second Page custom styles */





/* Third Page custom styles */ 
.galContent{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
.img{
    height: 150px;
    width: 200px;
    margin: 0 15px 20px 0;
    position: relative;
    padding: 0;
    overflow: hidden;
}
/* Screen Size ----------------- */
@media only screen and (max-width: 470px) {
    .img{
        height: 150px;
        width: 200px;
        margin: 20px auto;
        position: relative;
        padding: 0;
        overflow: hidden;
    }
  }
/* End screen size ------------- */

.img:hover{
    cursor: pointer;
}
.imgOne{
    background-image: url('../images/pic-one.jpg');

}
.imgTwo{
    background-image: url('../images/pic-two.jpg');
}
.imgThree{
    background-image: url('../images/pic-three.jpg');
}
.imgFour{
    background-image: url('../images/pic-four.jpg');
}
.imgFive{
    background-image: url('../images/pic-five.jpg');
}
.imgTitle{
    width: 100%;
    background-color: #ffffffb6;
    position: absolute;
    bottom: 8px;
    text-align: center;
}


/* footer custom styles */
.footer{
    margin-top: auto;
    text-align: center;
    /* position: fixed; */
    bottom: 0;
    z-index: 0;
    background-color: #666666;
    color: #ffffff;
    height: 60px;
    border-top: 5px solid #000000;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Muli', sans-serif; */